{% extends 'base.html.twig' %}

{% block title %}New MaltQuantity{% endblock %}

{% block body %}
    <h1>Create new MaltQuantity</h1>

    {{ include('malt_quantity/_form.html.twig') }}

    <a href="{{ path('malt_quantity_index') }}">back to list</a>
{% endblock %}
