{% extends 'base.html.twig' %}

{% block title %}New HopQuantity{% endblock %}

{% block body %}
    <h1>Create new HopQuantity</h1>

    {{ include('hop_quantity/_form.html.twig') }}

    <a href="{{ path('hop_quantity_index') }}">back to list</a>
{% endblock %}
